{% macro section(title, notes) %}
{%- if notes -%}
#### {{ title }}

{% for note in notes -%}
*{% if note.scope %} ({{ note.scope }}):{% endif %} {{ note.description }}{% if note.short_sha %} [(`{{note.short_sha}}`)]({{note.commit_url}}){% endif %}
{% endfor -%}
{% endif -%}
{% endmacro -%}